@import "tailwindcss";
@plugin "daisyui";


@property --border-angle {
    inherits: false;
    initial-value: 0deg;
    syntax: "<angle>";
}

.box-scroll::-webkit-scrollbar {
   display: none;
   
}

.no-scrollbar {
  -ms-overflow-style: none;  /* IE & Edge */
  scrollbar-width: none;     /* Firefox */
}

